PORT=5000
FRONTEND_URL=http://localhost:3000
JWT_SECRET=colocar_un_secreto_seguro
DATABASE_URL=postgres://usuario:password@localhost:5432/nombre_base
TZ=America/Argentina/Buenos_Aires

AUTO_SYNC_FIXTURE=true
AUTO_SYNC_RESULTS=true
AUTO_SYNC_WORLD_CUP_26=true
WORLD_CUP_26_API_URL=https://worldcup26.ir/get/games
WORLD_CUP_26_SYNC_INTERVAL_MINUTES=5
